*DS_Store
bin/glut32.dll
bin/libeay32.dll
bin/ssleay32.dll
bin/win_original_debug.exp
bin/win_original_debug.ilk
bin/win_original_debug.lib
bin/win_original_debug.pdb
icon.rc
obj/
win_original.VC.VC.opendb
bin/sumatrapdfcache/*
bin/data/printNumberFile.txt